<!-- layouts/_default/single.html -->
<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default .Lang }}">
  {{ partial "header.html" . }}
  <body>
    {{/* Definição do parâmetro `toc` do front matter, com fallback para o site */}}
    {{ $toc := .Params.toc | default .Site.Params.toc | default "none" }}
    {{/* Se toc for "floating" ou "both", usamos o layout com TOC flutuante */}}
    {{ if or (eq $toc "floating") (eq $toc "both") }}
      <div class="container-wide wrapper">
        {{ partial "head.html" . }}
        {{ partial "content_floating_toc.html" . }}
      </div>
	{{ end }}
    {{/* Caso contrário ("static" ou "none"), usamos o layout padrão (estático/sem TOC) */}}
    {{ if or (eq $toc "static") (eq $toc "static") }}
      <div class="container wrapper">
        {{ partial "head.html" . }}
        {{ partial "content_static.html" . }}
      </div>
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
