<!DOCTYPE html>
<html>
<body>
  <div class="container wrapper">
    {{ partial "head.html" . }}

    {{/* --- taxonomy subnav (Categories) --- */}}
    {{- if eq .Data.Plural "categories" -}}
      {{ $allLabel := cond (eq .Site.Language.Lang "pt") "Todas" "All" }}
      <nav class="taxonomy-subnav" aria-label="Categories">
        <ul class="taxonomy-subnav__list">
          <li class="taxonomy-subnav__item">
            <a class="taxonomy-subnav__link is-active" href="{{ .Permalink }}">{{ $allLabel }}</a>
          </li>

          {{- range .Data.Terms.Alphabetical -}}
            <li class="taxonomy-subnav__item">
              <a class="taxonomy-subnav__link" href="{{ .Page.Permalink }}">{{ .Page.LinkTitle }}</a>
            </li>
          {{- end -}}
        </ul>
      </nav>
    {{- end -}}

    {{/* --- posts list (same as home) --- */}}
    <div class="recent-posts section">
      <div class="posts">
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ $paginator := .Paginate ($pages.ByDate.Reverse) }}
        {{ range $paginator.Pages }}
          {{ partial "post-card.html" . }}
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}
    </div>

    {{ partial "footer.html" . }}
  </div>

  <script>feather.replace()</script>
</body>
</html>
