<!-- layouts/partials/content_floating_toc.html -->
{{/* Parcial do conteúdo com TOC flutuante (desktop) e estático (mobile) */}}
{{ $toc := .Params.toc | default .Site.Params.toc | default "none" }}
  {{/* TOC flutuante à direita (visível só em tela grande) */}}
  <nav class="toc section-nav hide-on-mobile" id="floating-toc">
    <header><h3>{{ i18n "tocTitle" }}</h3></header>
    {{ .TableOfContents }}
  </nav>
<div class="post-content-wrapper article-nav" id="article-nav-id">

  <div class="post post-main">
    {{ if eq .Section "posts" }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    {{ partial "post_body.html" . }}
    <!--{{ partial "author-box.html" . }}-->
  </div>
</div>
<div class="post post-main">
  {{ partial "article_footer.html" . }}
</div>
