{{- $authorName := or .Params.author .Site.Params.author.name .Site.Params.author -}}
{{- $authorSlug := urlize $authorName -}}
{{- $authorURL := printf "/author/%s/" $authorSlug | relLangURL -}}
{{- $avatar := or .Site.Params.author.avatar .Site.Params.Avatar -}}
{{- $date := .Date -}}
{{- $words := .WordCount -}}
{{- $reading := .ReadingTime -}}

<div class="post-page__meta">

  {{ if $authorName }}
    <a href="{{ relLangURL "about/" }}" class="post-page__author">
      <img class="post-page__authorAvatar" src="{{ $avatar | relURL }}" alt="{{ $authorName }}" loading="lazy">
      <span class="post-page__authorName">{{ $authorName }}</span>
    </a>
  {{ end }}

  {{ if $date }}
    <span class="post-page__metaSep">•</span>
    <time class="post-page__metaItem" datetime="{{ $date.Format "2006-01-02" }}">
      {{ $date.Format "02 Jan 2006" }}
    </time>
  {{ end }}

  {{ if gt $words 0 }}
    <span class="post-page__metaSep">•</span>
    <span class="post-page__metaItem">{{ $words }} words</span>
  {{ end }}

  {{ if gt $reading 0 }}
    <span class="post-page__metaSep">•</span>
    <span class="post-page__metaItem">{{ $reading }} min read</span>
  {{ end }}

</div>
