{{/* layouts/partials/post_meta_inline.html */}}
<div class="post-page__meta">
  <a class="post-page__author" href="{{ relLangURL "about/" }}">
    <img class="post-page__authorAvatar" src="{{ relURL "img/ricardo-maekawa.jpeg" }}" alt="Ricardo Maekawa" loading="lazy">
    <span class="post-page__authorName">Ricardo Maekawa</span>
  </a>
  <span class="post-page__metaSep">·</span>
  <time class="post-page__metaItem" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006" }}</time>
  <span class="post-page__metaSep">·</span>
  <span class="post-page__metaItem">{{ .WordCount }} {{ i18n "words" | default "words" }}</span>
  <span class="post-page__metaSep">·</span>
  <span class="post-page__metaItem">{{ printf "%d min read" .ReadingTime }}</span>
</div>
